<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <style type="text/css">
        .box-404 {
            margin: 50px auto;
            border: #4fc08d dashed 2px;
            border-radius: 25px;
            color:#4fc08d;
            width: 800px;
            height: 300px;
            text-align: center;
        }
        h1{
            font-family: "Arial Black";
            font-size: 48px;
        }
        a{
            color: blueviolet;
            font-family: "Arial Black";
            font-size:large;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="box-404">
        <h1>404</h1>
        <p>页面未找到，请确定路由是否正确.</p>
        点击到<a href="/posts">首页</a>
    </div>
</body>
</html>